#header
{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    background-color: var(--darkblue);
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    color: var(--lightocre)
}

#header svg
{
    fill: var(--lightocre);
}

.burger-menu
{

}

#bottom-navbar
{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--darkblue);
    /*background: linear-gradient(-90deg,var(--darkblue) 50%, var(--mediumblue) 100%);*/
    padding: 5px;
    height: 50px;
    box-shadow: -2px -4px 11px 0px #0000001f;
    /*overflow: hidden;*/
}

#bottom-navbar a
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75px;
    color: var(--lightocre);
    overflow: hidden;
}

#bottom-navbar .round-action
{
    background-color: var(--lightocre);
    border-radius: 100%;
    color: white;
    height: 75px;
    max-width: 75px;
    width: 150px;
    animation: light-pulse 2s infinite;
    transform: scale(1);
    transition: all 0.25s;
}

#bottom-navbar .round-action:hover
{
    transform: scale(1.1);
}

#bottom-navbar .round-action svg
{
    fill: white;
}

.link-button
{
    padding: 10px;
    /*border: 2px solid var(--lightblue);*/
    background-color: var(--darkblue);
    color: var(--lightocre);
    border-radius: var(--radius);
    width: 100%;
    text-align: center;
}

.quick-links
{
    align-items: center;
    align-content: center;
    justify-content: center;
}