:root {
  --darkblue: #05121b;
  --mediumblue: #19486c;
  --lightblue: #1a90bd;
  --lightocre: #f3aa8a;
  --mediumocre: #763a25;
  --darkocre: #2b1007;

}

*
{
    box-sizing: border-box;
}

body
{
    margin: 0;
}

@keyframes light-pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 #f3aa8aaa;
    box-shadow: 0 0 0 0 #f3aa8aaa;
  }
  70% {
      -moz-box-shadow: 0 0 0 10px #f3aa8a00;
    box-shadow: 0 0 0 10px #f3aa8a00;
  }
  100% {
      -moz-box-shadow: 0 0 0 0 #f3aa8a00;
      box-shadow: 0 0 0 0 #f3aa8a00;
  }
}

#app
{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

/*#header
{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px;
    height: 50px;
}*/

#bottom-navbar
{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--darkblue);
    /*background: linear-gradient(0deg,var(--darblue) 95%, var(--mediumblue) 100%);*/
    padding: 5px;
    height: 50px;
    box-shadow: -2px -4px 11px 0px #0000001f;
    /*overflow: hidden;*/
}

#bottom-navbar a
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75px;
    color: var(--lightocre);
    overflow: hidden;
}

#bottom-navbar .round-action
{
    background-color: var(--lightocre);
    border-radius: 100%;
    color: white;
    height: 75px;
    max-width: 75px;
    width: 150px;
    animation: light-pulse 2s infinite;
    transform: scale(1);
    transition: all 0.25s;
}

#bottom-navbar .round-action:hover
{
    transform: scale(1.1);
}

#bottom-navbar .round-action svg
{
    fill: white;
}
