:root {
    --darkblue: #05121b;
    --mediumblue: #19486c;
    --lightblue: #1a90bd;
    --lightocre: #f3aa8a;
    --mediumocre: #763a25;
    --darkocre: #2b1007;
    --radius: 10px;
}

*
{
    box-sizing: border-box;
}

body
{
    margin: 0;
    font-family: 'Lexend';
    font-weight: 400;
    font-size: small;
    background-color: white;
}

.row
{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
    align-items: center;
}

.column
{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    gap: 10px
}

main
{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

#app
{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 60px 10px 60px 10px ;
}

a, a:visited
{
    text-decoration: none;
    color: unset;
}